.footer{
    width: 100%;
    min-height: 522px;
    background: url("../img/images/footer-bg.svg") no-repeat center / cover;
    color: var(--main-color);
}
.footer__content{
    padding-top: 184px;
    display: flex;
    align-items: center;
    column-gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
    margin-bottom: 84px;
}
.footer-title{
    font-weight: 700;
    font-size: clamp(22px,4vw,28px);
    line-height: 124%;
    margin-bottom: 12px;
}
.about-app{
    max-width: 518px;
    .about-app__title-uppercase{
        text-transform: uppercase;
    }
    .about-app__description{
        font-size: clamp(14px,2vw,18px);
        line-height: 124%;
    }
}
.our-contact__links{
    display: flex;
    flex-direction: column;
    .our-contact__link{
        font-size: clamp(14px,2vw,18px);
        line-height: 160%;
        color: var(--main-color);
        &:focus{
            background-color: var(--state-focus-link);
        }
        &:hover{
            color: var(--state-hover-link);
        }
    }
}
.copywriting{
    min-height: 112px;
    border-top: solid 1px var(--main-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    .copywriting__text{
        font-size: clamp(18px,2vw,20px);
        line-height: 124%;
        text-transform: uppercase;
    }
}